<section class="services" id="about">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center">Who's Martin?</h1>
    </div>
    <hr class="hr-mini">
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center about-me">Pixel-Perfect. Curious. Traveller.<br><br>Created in Stockholm - 1998, still living in Stockholm. I started to code one year ago and fell in love with it. When I'm not working I enjoy exercising, get better at programming, drinking coffee, and a lot more.
      </p>
    </div>
  </div>
  <div class="seperator"></div>
</section>
