<section class="work" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center">Contact</h1>
      <hr class="hr-mini">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <form id="contact-form" action="https://formspree.io/15mano@stockholmscience.se" method="POST">
      <div class="form-group">
        <label for="name"></label>
            <input class="form-control" id="exampleInput" type="text" name="name" placeholder="Name*">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1"></label>
          <input class="form-control" id="exampleInputEmail1" type="email" name="_replyto" placeholder="Email*">
        </div>
        <div class="form-group">
        <label for="exampleTextarea"></label>
          <textarea class="form-control" name="message" rows="3" value="Message" placeholder="Message*"></textarea>
        </div>
      <button type="submit" value="Send" id="send-btn"><i class="fa fa-send"></i> Send</button>
    </form>
    </div>
  </div>

</section>
