<section class="work" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center">Contact</h1>
      <hr class="hr-mini">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form id="contact-form" action="/contact-form" method="post">
        <div class="form-group">
          <label for="name"></label>
              <input class="form-control" id="name" type="text" name="name" placeholder="Name*">
          </div>
          <div class="form-group">
          <label for="email"></label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="form-group">
          <label for="message"></label>
            <textarea class="form-control" name="message" rows="3" value="Message" placeholder="Message*"></textarea>
          </div>
        <button type="submit" value="Send" id="send-btn"><i class="fa fa-send"></i> Send</button>
      </form>
    </div>
  </div>

</section>
