<section class="">
  <footer class="footer-inverse footer">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="social-icons">
        <a href="https://twitter.com/martindasofo" class="social-links" target="_blank">
          <i class="fa fa-twitter icon" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/martin-nordstr%C3%B6m-865670116?trk=nav_responsive_tab_profile" class="social-links" target="_blank">
          <i class="fa fa-linkedin icon icon-hover" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/martin.nordstrom.12?ref=bookmarks" class="social-links" target="_blank">
          <i class="fa fa-facebook icon icon-hover" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/iwritethingswith_code/" class="social-links" target="_blank">
          <i class="fa fa-instagram icon icon-hover" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row">
    <div class="br"></div>
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p class="text-center" style="color: white">&copy 2016 Martin Nordström</p>
      </div>
    </div>
  </footer>
</section>
