<section class="services" id="services">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center">Services</h1>
    </div>
    <hr class="hr-mini">
  </div>
  <div class="row">
    <div class="col-md-4 icon-holder">
        <div class="circle">
        <i class="fa fa-code" aria-hidden="true"></i>
    </div>
  </div>
    <div class="col-md-4 icon-holder">
        <div class="circle">
        <i class="fa fa-code" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-md-4 icon-holder">
        <div class="circle">
        <i class="fa fa-code" aria-hidden="true"></i>
        </div>
    </div>
  </div>
</div>
</section>
