<section class="services" id="services">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center">Services</h1>
    </div>
    <hr class="hr-mini">
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="container circle">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="text-center">Web Development</h3>
      <p class="text-center description">HTML, CSS, jQuery and Javascript is the tools I'll use to create your website.</p>
      <br>
    </div>
    <div class="col-md-4">
      <div class="container circle">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="text-center">Responsive Design</h3>
      <p class="text-center description">In 2017 will more than 63,4% use phones to access online content. Therefor I will create your site friendly for all devices.</p>
      <br>
    </div>
    <div class="col-md-4">
      <div class="container circle">
      <i class="fa fa-leaf" aria-hidden="true"></i>
      </div>
      <br>
      <h3 class="text-center">Design</h3>
      <p class="text-center description">The design I develop is modern, clear and simplistic.</p>
      <div class="seperator"></div>
    </div>
  </div>
</section>
