<section class="work" id="work">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-header text-center"> My work</h1>
    </div>
  </div>
  <hr class="hr-mini">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="assets/img/qoutemachine.png" alt="">
        <div class="caption">
          <h3 class="text-center caption-title">Random Quote Machine</h3>
          <p class="text-center caption-text">Get a random picture and a random quote. The quotes are from a quote API and the pictures are from <a class="links" href="https://unsplash.com/developers" target="_blank">Unsplash API.</a></p>
          <a href="http://martinnord.me/random-quote-machine/" class="links" target="_blank"><p class="text-center">Check it out</p></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="assets/img/geneve.png" alt="">
        <div class="caption">
          <h3 class="text-center caption-title">School Trip Website</h3>
          <p class="text-center caption-text">This website were developed by me and my friend<a class="links" href="https://oskaryildiz.me/" target="_blank"> Oskar</a>. The purpose was to give information to the parents and the students. The site was finished after 24 hours.</p>
          <a href="http://geneve.ssis.nu/" class="links" target="_blank"><p class="text-center">Check it out</p></a>
        </div>
      </div>
    </div>
  </div>

</section>
