<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--META TAGS FOR SEO-->
    <meta name="description" content="Martin Nordström's Portfolio"/>
    <link rel="canonical" href="http://www.martinnord.me/" />
    <meta property="og:locale" content="en-us" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Martin Nordström's Portfolio" />
    <meta property="og:description" content="Martin Nordström's Portfolio" />
    <meta property="og:url" content="http://www.martinnord.me/" />
    <meta property="og:site_name" content="Martin Nordström" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="Portfolio | Martin Nordström" />
    <meta name="twitter:site" content="@martindasofo" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:creator" content="@martindasofo" />
    <!--PAGE CONTENT BEGINS HERE-->
    <title>Martin Nordström | WebDev</title>
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/typed-cursor.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/mediaquery.css">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88497540-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>
    {{> navbar}}
    <div class="container-fluid">
      <div class="row">
        {{{body}}}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../assets/js/typed.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
