<div class="container" style="margin-top:200px;">
  <form class="contact-form" action="/contact-form" method="post">
    <div class="form-group">
      <label for="name"></label>
          <input class="form-control" id="name" type="text" name="name" placeholder="Name*">
      </div>
      <div class="form-group">
      <label for="email"></label>
        <input class="form-control" id="email" type="email" name="email" placeholder="Email*">
      </div>
      <div class="form-group">
      <label for="message"></label>
        <textarea class="form-control" name="message" rows="3" value="Message" placeholder="Message*"></textarea>
      </div>
    <button type="submit" value="Send"><i class="fa fa-send"></i> Send</button>
  </form>
</div>
