<div class="container-fluid">
  {{> jumbotron}}
  <div class="container-fluid">
    {{> services}}
  </div>
  <div class="container-fluid">
    {{> work}}
  </div>
  <div class="container-fluid">
    {{> about}}
  </div>
  <div class="container-fluid">
    {{> contact}}
  </div>
  <div class="container-fluid">
    {{> footer}}
  </div>
</div>
